@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  body {
    @apply bg-canvas text-ink;
  }

  h1,
  h2,
  h3 {
    @apply font-heading;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

@layer components {
  .card {
    @apply rounded-md p-4 w-full bg-white;
  }

  .card:hover {
    @apply bg-gray-100;
  }

  .btn {
    @apply block w-full text-center p-4 font-bold rounded-md transition-all duration-200 ease-in-out;
  }

  .btn-primary {
    @apply text-white bg-primary-600;
  }

  .btn-primary:hover {
    @apply bg-primary-800;
  }

  .btn-secondary {
    @apply text-gray-600;
  }

  .btn-secondary:hover {
    @apply bg-gray-600 bg-opacity-25;
  }
}

@layer utilities {
  .truncate-3-lines {
    max-height: 4.2rem; /* triple the size of line-height */
    line-height: 1.4rem;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }
}
